footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  font-style: italic;
  z-index: 1001;
  margin: 0; 
}

@media (max-width: 855px) {
  .icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;

  }

  .icon:hover {
    transform: scale(1.2);
  }
}

@media (min-width: 855px) {
  .icon {
    display: none;
  }
}
