
    <footer *ngIf="isVisible">
      <div>
      <img src="https://www.iconpacks.net/icons/2/free-instagram-logo-icon-3497-thumb.png" alt="Icon 1" class="icon" (click)="openUrl('https://www.instagram.com/f.a_sarii/')">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Icon 2" class="icon" (click)="openUrl('https://github.com/furkanarslan00')">
      <img src="https://cdn.icon-icons.com/icons2/2428/PNG/512/linkedin_black_logo_icon_147114.png" alt="Icon 3" class="icon" (click)="openUrl('https://www.linkedin.com/in/furkan-arslan-894a69268/')">
      <img src="https://static.thenounproject.com/png/321991-200.png" alt="Icon 4" class="icon" (click)="openUrl('https://furkanarslan00.github.io/myportfolio/')">
    </div>
      © Prepared by Furkan Arslan
    </footer>
